.btn-edit-admin {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 99px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
